/** @format */

@media screen and (max-width: 800px) {
  .buttons .btn {
    width: 20% !important;
    justify-content: center;
  }
  #cover h2 {
    font-size: 2.5rem;
    z-index: 8;
    top: 30%;
  }
  #banner {
    height: 20vw;
  }

  .inner-content {
    height: 40vw;
  }
}
